/* 

-------- Property Ordering Template --------

@extend
@include

all @includes offering property shorthand are positioned in the normal property's position

e.g. @include prefix(box-shadow, inset 0px 0px 9px 1px rgba(0,0,0,0.85), webkit moz ms o)
goes in box shadow's position


-- Dimensions --

height
width
z-index

-- Positioning --

bottom
left
right
top

-- Spacing --

margin
padding
white-space

-- Visibility / Display --

display
float
list-style
opacity
overflow
position
visibility
vertical-align

-- Background / Filter --

background color
background image
filter

-- Border --

border
border-color
border-radius
box-shadow
outline

-- Text --

color
font family
font size
font weight
letter-spacing
line-height
text-align

-- Animation / Events--

animation
cursor
keyframes
pointer-events
transition


*/

// -------- Mixins -------- //

@mixin border($style, $color, $sides) {
    @if ($style != '') {
        @if ($sides == '') {
            border: $style $color;
        } @else {
            @each $side in $sides {
               @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left') {
                      border-#{$side}: $style $color;
                }
            }
        }  
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin monthLabel($left, $top, $deg){
  left: $left;
  top: $top;
  margin: 0px 0px 0px 60px;
  position: relative;
  color: #84783b;
  font-family: 'Times New Roman';
  font-size: 18px;
  @include prefix(transform, rotate($deg), webkit moz ms o);
  @include prefix(user-select, none, webkit moz ms o);
  -webkit-touch-callout: none;
}

@mixin dayLabel($left, $top, $deg) {
  left: $left;
  top: $top;
  z-index: 5;
  position: relative;
  color: #84783b;
  font-family: 'Times New Roman';
  font-size: 18px;
  @include prefix(transform, rotate($deg), webkit moz ms o);
  @include prefix(user-select, none, webkit moz ms o);
  -webkit-touch-callout: none;
}

@mixin fadeImg($img) {
  height: 125px;
  width: 125px;
  z-index: 1;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  position: relative;
  background-image: url($img);
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: all 0.5s ease-in;
  
}

// -------- Variables -------- //

$dark-background: #181819;
$grey-background: #262626;
$gold-color: #9E8E4C;
$dim-gold-color: #524A2A;
$bright-gold-color: #c9b564;
$cream-color: #c9c5b7;
$teal-color: #3ECF84;
$rock-background: '/images/rock-background.png';
$code-background: '/images/codebackground.jpg';
$metal-background: '/images/metal-pat.jpg';


// -------- Generic Element Selectors -------- //

* {
  margin: 0px;
  padding: 0px;
}

html {
  z-index: -20;
  position: relative;
}

body {
  z-index: -10;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

h2, h3, h4 {
  margin: 0;
}

a:hover, 
a:focus, 
a:active {
  border-bottom: 2px solid $gold-color;
  color: $gold-color;
  text-decoration: none;
}

// -------- General-Use Classes --------- //

.gold-text {
  color: $bright-gold-color;
  font-family: 'Times New Roman';
  font-weight: 500;
  font-size: 22px; 
}

.no-pe {
  pointer-events: none;
}

.block-title-section-text {
  top: 20%;
  position: relative;
  color: $bright-gold-color;
  font-family: 'Times New Roman';
  font-size: 40px;
  text-align: center;
  
}

.main-blocks {
  top: 20px;
  height: 125px;
  width: 125px;
  margin-top: 10px;
  padding: 0px;
  position: relative;
  background-color: #333030;
  background-repeat: no-repeat;
  @include border(1px solid, $gold-color, top left right bottom);
  border-radius: 5px;
  @include prefix(box-shadow, inset 0px 0px 9px 1px rgba(0,0,0,0.85), webkit moz ms o);
  text-align: center;
}

.fullOpacity {
  opacity: 1;
  visibility: visible;
}

.noOpacity {
  opacity: 0;
  visibility: collapse;
}


.seperator {
  margin-top: 5%;
  position: relative;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

.buffer {
  height: 100px;
}


// -------- Angular & Bootstrap Class Modifications -------- //

.fadable {
    transition: 0s linear all;
}

.fadable.ng-hide-remove {
  display: block !important;
  opacity: 0;
  transition: 0.5s linear all;
}

.fadable.ng-hide-remove.ng-hide-remove-active {
  opacity: .8;
}
.fadable.ng-hide-add {
  display: block !important;
  opacity: .8;
  transition: 0.5s linear all;
}
.fadable.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
