@media (min-width:1200px) and (max-width:1550px) {

  .main-container {
    padding-bottom: 150px;
  }

  .block-name-def {
    right: 10px;
  }

  #runner-calc-container > .row:nth-child(2) {
    margin-left: -45px; 
  }

}