$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin border($style, $color, $sides) {
    @if ($style != "") {
        @if ($sides == "") {
            border: $style $color;
        } @else {
            @each $side in $sides {
               @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left') {
                      border-#{$side}: $style $color;
                }
            }
        }  

    }
}

@mixin monthLabel($mTop, $mRig, $mBot, $mLef, $left, $top, $deg){

  position: relative;
  margin: $mTop $mRig $mBot $mLef;
  left: $left;
  top: $top;

  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: #84783b;

  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}



body {
  padding: 0;
  position: relative;
  z-index: -10;
}


$dark-background: #1c1b1b;
$grey-background: #262626;

.main-container {
  @extend .container;
  position: relative;
  left: 35px;
  padding:20px;
  z-index: -3;
  min-width: 800px;

}
.main-header {
  background-color: $dark-background;
  height: 100px;
  @include border(1px solid, #707070, bottom);

}
.main-body {
  background-color: $dark-background;
}

.footer {
  @include border(1px solid, #707070, bottom top);
  border-radius: 3px;
  padding-top: 20px;
  
}

.animation-container {
  background-color: $dark-background;
  width: 90%;
  height: 550px;
  @include border(1px solid, #707070, left right bottom top);  
  position: relative;
  display: flex;
  z-index: -2;

}

.block-container {
  background-color: $dark-background;
  width: 90%;
  height: 550px;
  @include border(1px solid, #707070, left right bottom top);  
  position: relative;
  z-index: -2;
  
}

.main-blocks {
  background-color: #FFF;
  background-repeat: no-repeat;
  top: 20px;
  height: 125px;
  width: 125px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 22px;
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.85);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.85);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.85);
  @include border(1px solid, #707070, bottom left right top);
  text-align: center;
  position: relative;

}

.block-group {
  position: relative;
  left: 5%;
}

.buffer {
  @extend .footer;
  border-top: none;
}


.routes {
  height: 100px;
  width: 100px;
  position: relative;
  margin-right: 20px;
  display: inline;
  @include border (1px solid, #707070, left right);
  &:hover {
    background-color: #636363;

  }
}

.route-container {
  height: 100%;
  display: inline;
}

.about-me {
  @include border(1px solid, #707070, left right bottom top);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  left: 14%;

}

.tooltip {     
  text-align: center; 
  width: 152px;          
  height: 152px;         
  padding: 2px;       
  font: 12px sans-serif;  
  background-color: rgb(89, 74, 41); 
  border: 0px;
  border-radius: 50%;
  pointer-events: none;
  text-align: center;
}

.index {
  position: relative;
  z-index: -5;
}

.january {
  @include monthLabel(0px, 0px, 0px, 60px, 480px, 25px, 12deg);
}
.february {
  @include monthLabel(0px, 0px, 0px, 60px, 570px, 50px, 42deg);
}

.march {
  @include monthLabel(0px, 0px, 0px, 60px, 630px, 115px, 70deg);
}

.april {
  @include monthLabel(0px, 0px, 0px, 60px, 640px, 200px, 100deg);
}

.may {
  @include monthLabel(0px, 0px, 0px, 60px, 600px, 268px, 125deg);
}

.june {
  @include monthLabel(0px, 0px, 0px, 60px, 515px, 310px, 155deg);
}
.july {
  @include monthLabel(0px, 0px, 0px, 60px, 405px, 302px, 182.5deg);
}

.august {
  @include monthLabel(0px, 0px, 0px, 60px, 305px, 250px, 212deg);
}

.september {
  @include monthLabel(0px, 0px, 0px, 60px, 205px, 90px, 255deg);
}

.october {
  @include monthLabel(0px, 0px, 0px, 60px, 205px, -45px, 285deg);
}

.november {
  @include monthLabel(0px, 0px, 0px, 60px, 260px, -170px, 312deg);
}

.december {
  @include monthLabel(0px, 0px, 0px, 60px, 365px, -255px, 340deg);
}





















