$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import "compass/css3";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower 

// -------- Mixins -------- //

@mixin border($style, $color, $sides) {
    @if ($style != "") {
        @if ($sides == "") {
            border: $style $color;
        } @else {
            @each $side in $sides {
               @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left') {
                      border-#{$side}: $style $color;
                }
            }
        }  
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin monthLabel($left, $top, $deg){
  position: relative;
  margin: 0px 0px 0px 60px;
  left: $left;
  top: $top;

  font-family: "Times New Roman";
  //font-weight: 500;
  font-size: 18px;
  color: #84783b;

  @include prefix(transform, rotate($deg), webkit moz ms o);
  @include prefix(user-select, none, webkit moz ms o);
  -webkit-touch-callout: none;
}

@mixin dayLabel($left, $top, $deg) {
  position: relative;
  left: $left;
  top: $top;
  z-index: 5;

  font-family: "Times New Roman";
  //font-weight: 500;
  font-size: 18px;
  color: #84783b;

  @include prefix(transform, rotate($deg), webkit moz ms o);
  @include prefix(user-select, none, webkit moz ms o);
  -webkit-touch-callout: none;
}

@mixin fadeImg($img) {
  background-image: url($img);
  opacity: 1;
  width: 125px;
  height: 125px;
  border-radius: 5px;
  transition: all 0.5s ease-in;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  background-repeat: no-repeat;
  
  &:hover {
    opacity: 0;
  }
}

$dark-background: #181819;
$grey-background: #262626;
$gold-color: #9E8E4C;
$dim-gold-color: #524A2A;
$bright-gold-color: #c9b564;
$cream-color: #c9c5b7;
$teal-color: #3ECF84;
$rock-background: '/images/rock-background.png';


// -------- Element Selectors -------- //

* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0;
  position: relative;
  z-index: -10;
}

a:hover, a:focus, a:active {
  color: $gold-color;
  text-decoration: none;
  border-bottom: 2px solid $gold-color;

}

// -------- General Classes --------- //

.gold-text {
  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 22px;
  color: $gold-color;
}

.no-pe {
  pointer-events: none;
}

.block-title-section-text {
  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 40px;
  color: $bright-gold-color;
  position: relative;
  text-align: center;
  top: 20%;

}

.main-blocks {
  background-color: #333030;
  background-repeat: no-repeat;
  top: 20px;
  height: 125px;
  width: 125px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px;
  @include border(1px solid, $gold-color, top left right bottom);
  @include prefix(box-shadow, inset 0px 0px 9px 1px rgba(0,0,0,0.85), webkit moz ms o);
  text-align: center;
  position: relative;
}

.fullOpacity {
  opacity: 1;
  visibility: visible;

}

.noOpacity {
  opacity: 0;
  visibility: collapse;
}


.seperator {
  position: relative;
  margin-top: 5%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

// -------- Angular Class Modifications -------- //

.fadable {
    transition: 0s linear all;
}
.fadable.ng-hide-remove {
    opacity: 0;
    display: block !important;
    transition: 0.5s linear all;
}
.fadable.ng-hide-remove.ng-hide-remove-active {
    opacity: .8;
}
.fadable.ng-hide-add {
    opacity: .8;
    display: block !important;
    transition: 0.5s linear all;
}
.fadable.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}


// -------- Loading Overlay -------- //

.loading {
  width: 60px;
  height: 60px;
  z-index: 4;
  top: 0px;
  right: 0px;
  bottom: 20%;
  left: 0px;
  margin: auto;
  position: absolute;
  border: 5px solid #FFF;
  border-top-color: $gold-color;
  border-radius: 100%;
  animation: round 1s linear infinite;
}

@keyframes round {
  from {transform: rotate (0deg)}
  to {transform: rotate(360deg)}
}

.loadingScreen {
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
  background-color: $dark-background;
}

// -------- Background & Parallax -------- //


.main-body {
  background-image: url($rock-background);
  overflow-x: hidden;
}

.decoration {

  height: 45px;
  width: 100%;
  top: 40%;
  position: relative;
  @include border(2px solid, $gold-color, bottom top);
  //background-image: url('/images/royalpat.png');
  @include prefix(box-shadow, inset 0px 0px 20px 5px rgba(0,0,0,0.75), webkit moz ms o);
}

$i: 2;
$loopCount: 1;

.padding {
  margin-top: 50px;
  height: 200px;
  width: 100%;
  z-index: -3;
  background-image: url($rock-background);
  position: absolute;
  @include prefix(box-shadow, -7px 11px 28px 14px rgba(0,0,0,0.75), webkit moz ms o);

  @while $i < 14 {

    &:nth-child(#{$i}) {
      margin-top: ($loopCount * 1100) + px;
    }

    $loopCount: $loopCount + 1;
    $i: $i + 1;
  }
}

$i: 3;
$loopCount: 0;

.container-parallax {
  margin-top: -950px;
  background-color: $dark-background;
  //background-image: url('/images/darklinepat2.png');
  position: absolute;
  height: 1000px;
  width: 100%;
  z-index: -5;

  @while $i < 13 {

    &:nth-child(#{$i}) {
      margin-top: -50 + ($loopCount * 1000) + px;
    }

    $loopCount: $loopCount + 1;
    $i: $i + 2;
  }
}

.navbar-main {
  top: 1px;
  height: 70px;
  width: 100%;
  z-index: 6;
  font-size: 16px;
  position: absolute;
  background-color: $dark-background;
  border-radius: 0px;
  @include border(1px solid, $dark-background, bottom);
  @include prefix(box-shadow, -7px 6px 24px 2px rgba(0,0,0,0.75), webkit moz ms o);
  transition: all .25s cubic-bezier(.17,.67,.83,.67);
}

.navbar-main-float {
  @extend .navbar-main;
  height: 50px;
  top: -1px;
  left: 0;
  right: 0;
  background: $grey-background;
  position: fixed;
  @include border(1px solid, $gold-color, bottom);
}

.navbar-nav {
  list-style: none;
  padding: none;
}

.navbar-text {
  height: 69px;
  bottom: 1px;
  margin: 0;
  padding: 23px 30px 0px 30px;
  color: $bright-gold-color;
  cursor: pointer;
  transition: all .25s cubic-bezier(.17,.67,.83,.67);

  &:hover {
    @include border(0px solid, $gold-color, top left bottom right);
    background-color: $gold-color !important;
    color: white;
  }
}

.navbar-text-float {
  @extend .navbar-text;
  height: 49px;
  padding-top: 12px;
}

#home {
  margin-top: -1px;
  font-size: 20px;
}

// -------- Top Greeting Section -------- //

#greeting-section {
  background-color: $dark-background;
  height: 800px;
  z-index: 5;
  padding: 0px;
  right: 10px;
  top: 80px;
  position: relative;
  @include border(1px solid, $gold-color, left right bottom top);
  @include prefix(box-shadow, -7px 11px 28px 14px rgba(0,0,0,0.75), webkit moz ms o);

  & > div {
    pointer-events:none;
    @include prefix(user-select, none, webkit moz ms o);
  }

  & > div > span {
    top:20px;
    left:20px;
    font-size:14px;
    position:relative;

  }
}

.greeting-para {
  top: 45px;
  position: relative;
}

#canvas {
  z-index: -1;
  cursor: pointer;
  position: absolute;
  @include prefix(filter, blur(10px), webkit moz ms o);
}

.name-text {
  @extend .block-title-section-text;
  color: $bright-gold-color;
  padding: 0px;
  font-size: 50px;
  top: 0;
  margin: 0px;
  &:nth-child(2) {
    margin-top: 0px;
  }

  &:nth-child(3) {
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 8px;
  }
  &:nth-child(4) {
    font-size: 18px;
    letter-spacing: 1px;
  }

}

.sphere-container {
  @extend .name-text;
  top: 100px;
  right: 25px;
  pointer-events: none;

  &:nth-child(3) {
    letter-spacing: 0px;
  }
}

.sphere {
  pointer-events:all;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
  background-color: $bright-gold-color;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  @include prefix(box-shadow, inset 45px -25px 40px rgba(0,0,0,.5), webkit moz ms o);
  transition: all .25s cubic-bezier(.17,.67,.83,.67);

  &:hover {
    @include prefix(box-shadow, inset 45px -35px 40px rgba(0,0,0,.5), webkit moz ms o);
  }
}

.sphere-shadow {
  width: 110px;
  height: 110px;
  top: 50px;
  right: 120px;
  margin-left: 50px;
  padding: 0px;
  position: relative;
  border-radius: 50%;
  @include prefix(box-shadow, -6px 6px 20px -2px rgba(0,0,0,0.75), webkit moz ms o);
  transition: all .25s cubic-bezier(.17,.67,.83,.67);

  &:hover {
    @include prefix(box-shadow, -5px 10px 35px 5px rgba(0,0,0,0.75), webkit moz ms o);
  }
  
}

.sphere-text {
  @extend .gold-text;
  color: $bright-gold-color;
  pointer-events: all;
}

// -------- Projects Section -------- //

.index {
  position: relative;
  z-index: -5;
}

.projects-title-section {
  height: 100px;
  width: 90%;
  left: 5%;
  top: 20px;
  position: relative;
  background-image: url($rock-background);
  @include prefix(box-shadow, -7px 6px 24px 2px rgba(0,0,0,0.75), webkit moz ms o);
}


.main-container {
  @extend .container;
  position: relative;
  z-index: -3;
  margin: auto;
  right: 10px;
  padding: 0px;
  

}

.skills-container {
  width: 90%;
  left: 5%;
  padding: 0px 20px 20px 20px;
  position: relative;
  background-image: url($rock-background);
  @include prefix(box-shadow, -7px 6px 24px 2px rgba(0,0,0,0.75), webkit moz ms o);
}

.project-site-container {
  @extend .skills-container;
  height: 700px;
}

.contact-type-container {
  @extend .skills-container;
  height: 300px;
}

.site-container {
  @extend .main-blocks;
  width: 350px;
  height: 250px;
  top: 10px;
  position: relative;
  @include border(1px solid, $dim-gold-color, top bottom left right);
  border-radius: 10px;
}

.site-container-tablet {
  @extend .site-container;
  width: 250px;
  height: 200px;
  top: 59.5px;
  
}

.site-container-mobile {
  @extend .site-container;
  width: 90px;
  height: 186px;
  top: 74px;
  
}

.site-container-txt {
  @extend .gold-text;
  top: 20px;
  position: relative;
}

.site-container-txt-tablet {
  @extend .site-container-txt;
  top: -29px;
}

.site-container-txt-mobile {
  @extend .site-container-txt;
  top: -45px;
}

#runner-calc-desktop {
  //background-image: url('/images/runnercalc345.png');
  top: 1px;
  left: 2px;
  width: 345px;
  height: 246px;
  border-radius: 10px;
  position: relative;
}

#runner-calc-tablet {
  @extend #runner-calc-desktop;
  

}

#runner-calc-mobile {
  @extend #runner-calc-desktop;

}


// -------- Github Graph Section -------- //

.d3-container {
  height: 900px;
  top: 20px;
  position: relative;
  z-index: -5;
}

.animation-container {
  background-color: $dark-background;
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  z-index: 2;

}

.svg-container {
  right: 152px;
  position: relative;
}

.tooltip {
  @extend .gold-text;
  font-size: 15px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  @include border(1px solid, $gold-color, top left right bottom);
  background-image: url($rock-background);
  position: absolute;
  text-align: center;
  transition: all 0.25s ease-in;
  pointer-events: none;
  @include prefix(box-shadow, -7px 6px 24px 2px rgba(0,0,0,0.75), webkit moz ms o);
}

$repoTooltipMap: (
  1: (50, 420),
  2: (60, 320),
  3: (190, 670),
  4: (270, 300),
  5: (40, 480),
  6: (40, 520),
);

.repoTooltip {
  @extend .tooltip;
  height: 88px;
  width: 180px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  opacity: 0;

  & > :nth-child(1) {
    font-size: 17px;  
  }

  & > :nth-child(2) {
    color: $teal-color;
  }

  @each $num, $values in $repoTooltipMap {

    &:nth-child(#{$num}) {
      top: nth($values, 1) + 10px;
      left: nth($values, 2) + 30px;
    }
  }

}

.pie-tooltip {     
  text-align: center; 
  width: 152px;          
  height: 152px;
  left: 506px;
  top: 174px;
  z-index: 5;
  position: absolute;
  padding: 2px;       
  font: 12px sans-serif;
  color: $gold-color;
  background-image: url($rock-background);
  @include border(2px solid, $gold-color, top left right bottom);
  border-radius: 50%;
  pointer-events: none;
  text-align: center;
  @include prefix(box-shadow, inset 0px 0px 35px 5px rgba(0,0,0,0.75), webkit moz ms o);
}

.pie-tooltip-hover {
  @extend .pie-tooltip;
  opacity: 0;
  z-index: 6;
  
}

.tooltipText {
  font-size: 16px;
}

.graph-circle {
  width: 410px;          
  height: 410px;
  left: 378px;
  top: 45px;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  @include border(2px solid, $gold-color, top left right bottom);
  background-color: #111;
  @include prefix(box-shadow, -6px 12px 29px 3px rgba(0,0,0,0.75), webkit moz ms o);

}

.pie {
  z-index: 2;
  cursor: pointer;
  position: relative;
}

.line {
  height: 2px;
  width: 250px;
  z-index: 3;
  position: absolute;
  pointer-events: none;
  @include border(1px solid, $gold-color, bottom);
  @include prefix(box-shadow, -7px 6px 24px 5px rgba(0,0,0,0.75), webkit moz ms o);

}

.line-title {
  @extend .tooltip;
  position: absolute;
  line-height: 50px;
  vertical-align: middle;
  opacity: 1;
}

$lineMap: (
  1: (180, 720),
  2: (280, 210),
  3: (65, 275),
);

$lineTitleMap: (
  1: (50, 150),
  2: (265, 80),
  3: (165, 880),
);

@each $num, $values in $lineMap {

  .line:nth-child(#{$num}) {
    top: nth($values, 1) + px;
    left: nth($values, 2) + px;
  }
}

@each $num, $values in $lineTitleMap {

  .line-title:nth-child(#{$num}) {
    top: nth($values, 1) + px;
    left: nth($values, 2) + px;
  }
}

.day-tooltip {
  margin-top: -10px;
  font-family: monospace;
  position: relative;

  & > span {

    color: $teal-color;
  }
}

.day-tooltip-title {
  width: 105px;
  top:10px;
  left: 20px;
  font-size:18px; 
  position:relative;
  border-bottom:1px solid rgb(158, 142, 76);
}

.day-tooltip-label {
  margin-top: 45px;
  position: relative;
}

.day-tooltip-container {
  margin-top: -55px;
  right: 3px;
  font-family: monospace;
  position: relative;
}

.graph-description {
  @extend .skills-container;
  height: 500px;
  margin: 0px;
  top: 525px;
  bottom: 0px;
  position: absolute;
  padding: 10px;
  z-index: 5;
}

.graph-desc-section {
  height: 100%;
  position: relative;
  
  & > div {
    @extend .gold-text;
    height: 50px;
    top: 10px;
    position: relative;
    @include border(1px solid, $gold-color, bottom);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

.block-center {
  & > span {

    color: $bright-gold-color;

  }
  
}

#graph-para {
  top: 50px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px; 
  color: $cream-color;
}

.contribution-info {
  height: 200px;
  top: 20px;
  position: relative;
  @include border(2px solid, $dim-gold-color, left);
  z-index: 5;

  &:nth-child(2), &:nth-child(4) {
    border: none;
  }

}

.contribution-text-left {
  @extend .gold-text;
  color: $cream-color;
  text-align: left;

  & > span {

    color: $teal-color;

  }
}

.contribution-text-right {
  @extend .gold-text;
  color: $gold-color;
  text-align: right;

  & > a {
    color: $gold-color;
  }

  & > span {

    color: $teal-color;

  }
}

// -------- Graph Label Iterations -------- //

$skillList: "frameworks", "dev-tools", "design-tools", "preprocessors";


$toolList: "darkreader", "tmtheme", "angular", "jquery", 
           "bootstrap", "git", "yeoman", "grunt", "bower", 
           "sass", "cscript", "gimp", "balsamiq", "d3", "gmail", 
           "linkedin", "githubsocial";

$monthMap: (

  Jan: (230px, 85px, 15deg),
  Feb: (273px, 195px, 42deg),
  Mar: (243px, 315px, 70.5deg),
  Apr: (127px, 410px, 105deg),
  May: (1px, 436px, 130deg),
  Jun: (-165px, 382px, 162deg),
  Jul: (-280px, 242px, 195deg),
  Aug: (-328px, 82px, 223deg),
  Sep: (-293px, -100px, 255deg),
  Oct: (-186px, -240px, 285deg),
  Nov: (-48px, -315px, 312deg),
  Dec: (105px, -307px, 342deg)

);

$dayMap: (

  Sun: (206px, 200px, 75deg),
  Mon: (180px, 305px, 130deg),
  Tue: (60px, 342px, 180deg),
  Wed: (-60px, 260px, 230deg),
  Thu: (-93px, 105px, 282deg),
  Fri: (-10px, -26px, 330deg),
  Sat: (120px, -53px, 25deg)

);

@each $tool in $toolList {

  @if $tool == "darkreader" {
    ##{$tool} {
      @include fadeImg('/images/' + $tool + '.png');
      margin: 0px 0px 0px 2px;
    }
  } @else if $tool == "bootstrap" {
    ##{$tool} {
      @include fadeImg('/images/' + $tool + '.png');
      margin: -1px 0px 0px -1px;
    }
  } @else if $tool == "sass" {
    ##{$tool} {
      @include fadeImg('/images/' + $tool + '.png');
      margin: 2px 0px 0px 2px;
    }
  } @else if $tool == "d3" {
    ##{$tool} {
      @include fadeImg('/images/' + $tool + '.png');
      margin: 6px 0px 0px 3px;
    }
  } @else {
    ##{$tool} {
      @include fadeImg('/images/' + $tool + '.png');
    }
  }
}

@each $month, $values in $monthMap {

  ##{$month} {
    @include monthLabel(nth($values, 1) - 15px, nth($values, 2) + 8px, nth($values, 3)); 
  }
}

@each $day, $values in $dayMap {

  ##{$day} {
    @include dayLabel(nth($values, 1) + 7px, nth($values, 2), nth($values, 3)); 
  }
}


// -------- Tools Section -------- //

.tool-container {
  padding-left: 23px;
  border-radius: 10px;
  white-space: nowrap;
}

.block-container {
  background-color: $dark-background;
  top: 120px;
  padding-bottom: 30px;
  @include border(1px solid, $gold-color, left right top bottom);  
  position: relative;
  @include prefix(box-shadow, -13px 20px 35px 10px rgba(0,0,0,0.75), webkit moz ms o);
  z-index: -2;
}

.projects-container {
  @extend .block-container;
  @include prefix(box-shadow, -7px 11px 28px 14px rgba(0,0,0,0.75), webkit moz ms o);
}

.graph-container {
  @extend .block-container;
  padding-bottom: 180px;

}

.contacts-container {
  @extend .block-container;
  height: 500px;
}

.block-group {
  position: relative;
  padding-top: 4.5%;
}

.block-titles {
  @include border(1px solid, $gold-color, bottom);
  height: 50px;
  left: 34%;
  text-align: center;
}

.title-text {
  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 28px;
  color: $gold-color;
  position: relative;
  top: 25%;
  right: 10px;
}

.projects-block-title {
  text-align: center;
  @include border(1px solid, $gold-color, bottom);
}

.block-name-def {
  @extend .gold-text;
  top: 20px;
  right: 5px;
  position: relative;
  text-align: center;
}

.block-name-tm {
  @extend .block-name-def;
  right: 13px;
}

.block-name-dark {
  @extend .block-name-def;

}

.block-name-def-cscript {
  @extend .block-name-def;
}

.block-name-def-sass {
  @extend .block-name-def;
}

.block-para {
  @extend .gold-text;
  color: $cream-color;
  width: 300px;
  top: -30px;
  right: 70px;
  font-size: 17px;
  position: relative;
  white-space: normal;
}

.skills-list {
  left: 12%;
  margin-top: 20%;
  padding-bottom: 20px;
  position: relative;
  color: $gold-color;
}

.project-desc-container {
  @extend .gold-text;
  @include border(1px solid, $dim-gold-color, top left bottom right);
  color: $cream-color;
  border-radius: 10px;
  position: relative;
  box-shadow: none;
}

.tools-desc-container {
  @extend .project-desc-container;
  @extend .gold-text;
  color: $cream-color;
  font-size: 19px;
  padding: 10px;
}

.frameworks {
  position: relative;
  left: 8.5%;

}

.dev-tools {
  position: relative;
  left: 4%;
}

.preprocessors {
  position: relative;
  left: 12.5%;
}

.month-labels {
  width: 500px;
  height: 500px;
  min-width: 500px;
  min-height: 500px;
  position: relative;
  left: 317px;
  transform: rotate(210deg);
}

.block-href {

  &:hover {
    text-decoration: none;

  }
  &:active {
    text-decoration: none;

  }
  &:focus {
    text-decoration: none;

  }
}

.img-text {
  position: relative;
  bottom: 100px;
  z-index: 0; 
  transition: all 0.5s ease-in;
}


// -------- Responsive Media Queries -------- //

@media (min-width:1200px) and (max-width:1550px) {

  .main-container {
    overflow: hidden;
  }

  .block-name-def {
    right: 10px;
  }

}

@media (min-width:992px) and (max-width:1199px) {

  .main-container {
    overflow: hidden;
  }

  .site-container {
    right: 10px;
  }

  .site-container-tablet {
    right: 45px;
  }

  .sphere-container {
    left: 30px;
  }

  .block-name-def {
    right: 0px;
  }

  .block-name-def-cscript {
    right: -6px;
  }

  .block-name-def-sass {
    right: -3px;
  }

  .graph-description {
    height: 500px;
  }

  #tools {
    height: 2900px;
  }

  .title-text {
    width: 350px;
    right: 40px;
  }

  .svg-container {
    right: 251px;
    position: relative;
  }

  .graph-circle {
    left: 278px;
  }

  .pie-tooltip {
    left: 407px;  
  }

  $lineMap: (
    1: (190, 640),
    2: (290, 200),
    3: (75, 265),
  );

  $lineTitleMap: (
    1: (50, 150),
    2: (265, 80),
    3: (165, 830),
  );

  $repoTooltipMap: (
    1: (50, 360),
    2: (90, 240),
    3: (230, 590),
    4: (270, 210),
    5: (40, 390),
    6: (40, 420),
  );

  @each $num, $values in $lineMap {

    .line:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 15 + px;
      width: 180px;
    }
  }

  @each $num, $values in $lineTitleMap {

    .line-title:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 40 + px;
    }
  }

  @each $month, $values in $monthMap {

    ##{$month} {
      left: nth($values, 1) + 73;  
      top: nth($values, 2) - 42;
    }
  }

  @each $day, $values in $dayMap {

    ##{$day} {
      left: nth($values, 1) - 92;  
      top: nth($values, 2) - 2;
    }
  }

  @each $num, $values in $repoTooltipMap {

    .repoTooltip:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) + px;
    }
  }


}
@media (min-width:875px) and (max-width:991px) {

  .main-container {
    overflow: hidden;
  }

  .tools-desc-container {
    left: 35px;
  }

  #graph-para {
    height: 190px;
  }

  .title-text {
    width: 350px;
    right: 70px;
  }

  .project-desc-container {
    width: 90%;
  }

  .graph-description {
    height: 510px;
  }

  .sphere-container {
    left: 145px;
  }

  #tools {
    height: 3150px;
  }

  .block-name-def {
    right: 0px;
    left: 20px;
  }

  .block-name-def-cscript {
    left: 6px;
  }

  .block-name-def-sass {
    left: 23px;
  }

  .frameworks {
    left: 5%;
  }

  .dev-tools {
    left: 0.5%;
  }

  .preprocessors {
    left: 8%;
  }


  .site-container {
    top: 20px;
    right: -120px;
  }

  .site-container-tablet {
    top: 360px;
    right: 38%;
    
  }

  .site-container-mobile {
    top: 165px;
    right: 0%;
    
  }

  .runner-calc-text {
    height: 300px;
    top: 150px;

  }

  #runner-calc-container {
    height: 1050px;

  }

  #projects {
    height: 1650px;
  }

  .block-para {
    right: 80px;
    padding-left: 20px;
  }

  .block-name-dark {
    left: 10px;

  }

  .block-name-tm {
    left: -10px;
  }

  .svg-container {
    right: 359px;
    min-width: 400px;
    position: relative;
  }

  .graph-circle {
    left: 170px;
  }

  .pie-tooltip {
    left: 299px;  
  }

  .month-labels {
    left: 108px;
  }

  $lineMap: (
    1: (190, 640),
    2: (290, 200),
    3: (75, 265),
  );

  $lineTitleMap: (
    1: (50, 150),
    2: (265, 80),
    3: (165, 830),
  );

  $repoTooltipMap: (
    1: (50, 360),
    2: (90, 240),
    3: (230, 590),
    4: (270, 210),
    5: (40, 390),
    6: (40, 420),
  );

  @each $num, $values in $lineMap {

    .line:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 125 + px;
      width: 180px;
    }
  }

  @each $num, $values in $lineTitleMap {

    .line-title:nth-child(#{$num}) {
      width: 100px;
      top: nth($values, 1) + px;
      left: nth($values, 2) - 65 + px;
    }

  }

  .line-title:nth-child(3) {
    left: 625px;
  }


  @each $day, $values in $dayMap {

    ##{$day} {
      left: nth($values, 1) - 200;  
      top: nth($values, 2) - 2;
    }
  }

  @each $num, $values in $repoTooltipMap {

    .repoTooltip:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 110px;
    }
  }

}

@media (min-width:762px) and (max-width:874px) {

  .main-container {
    overflow: hidden;
  }


  .container{
    left: 10px;
  }

  .sphere-container {
    left: 145px;
  }

  .frameworks {
    left: 5%;
  }

  .dev-tools {
    left: 0.5%;
  }

  .preprocessors {
    left: 8%;
  }

  #graph-para {
    height: 180px;
  }

  .site-container {
    top: 20px;
    right: -120px;
  }

  .site-container-tablet {
    top: 360px;
    right: 38%;
    
  }

  .site-container-mobile {
    top: 165px;
    right: 0%;
    
  }

  .runner-calc-text {
    height: 300px;
    top: 150px;

  }

  #runner-calc-container {
    height: 1050px;

  }

  #tools {
    height: 3150px;
  }

  .title-text {
    width: 350px;
    right: 70px;
  }

  .block-name-def {
    right: 0px;
    left: 20px;
  }

  .block-name-def-cscript {
    left: 6px;
  }

  .block-name-def-sass {
    left: 23px;
  }

  .block-name-dark {
    left: 10px;
  }

  .block-name-tm {
    left: -10px;
  }

  #projects {
    height: 1650px;
  }

  .block-para {
    right: 80px;
    padding-left: 20px;
  }

  .svg-container {
    right: 359px;
    min-width: 400px;
    position: relative;
  }

  .graph-circle {
    left: 170px;
  }

  .pie-tooltip {
    left: 299px;  
  }

  .month-labels {
    left: 108px;
  }

  $lineMap: (
    1: (190, 640),
    2: (290, 200),
    3: (75, 265),
  );

  $lineTitleMap: (
    1: (50, 150),
    2: (265, 80),
    3: (165, 830),
  );

  $repoTooltipMap: (
    1: (50, 360),
    2: (90, 240),
    3: (230, 590),
    4: (270, 210),
    5: (40, 390),
    6: (40, 420),
  );

  @each $num, $values in $lineMap {

    .line:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 125 + px;
      width: 180px;
    }
  }

  @each $num, $values in $lineTitleMap {

    .line-title:nth-child(#{$num}) {
      width: 100px;
      top: nth($values, 1) + px;
      left: nth($values, 2) - 65 + px;
    }

  }

  .line-title:nth-child(3) {
    left: 625px;
  }


  @each $day, $values in $dayMap {

    ##{$day} {
      left: nth($values, 1) - 200;  
      top: nth($values, 2) - 2;
    }
  }

  @each $num, $values in $repoTooltipMap {

    .repoTooltip:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 110px;
    }
  }
}

@media (min-width:600px) and (max-width:761px) {

  #greeting-section {
    width: 600px;
  }

  .main-container {
    overflow: hidden;
    margin-left: 2%;
    margin-right:auto;
    margin-left:auto;
  }

  .container {
    left: 10px;
  }

  .sphere-container {
    left: 100px;

  }

  .sphere-shadow {
    margin: 15px;
    right: 80px;

  }

  .block-container {
    width: 600px;
    margin-right:auto;
    margin-left:auto;
  }

  #tools {
    height: 3350px;
  }

  .projects-block-title {

    top: 5px;

  }

  .title-text {
    width: 350px;
    right: 95px;
  }

  .block-name-def {
    right: 0px;
    left: 17px;
  }

  .block-name-def-cscript {
    left: 6px;
  }

  .block-name-def-sass {
    left: 33px;
  }

  .graph-description {
    height: 560px;
  }

  #github {
    height: 1230px;
  }

  .frameworks {
    left: 5%;

    & > :nth-child(1), :nth-child(3), :nth-child(5) {
      margin-right: -170px; 
    }
  }

  .dev-tools {
    left: 0.5%;

    & > :nth-child(1), :nth-child(3), :nth-child(5) {

      margin-right: -230px; 
    }
  }

  .preprocessors {
    left: 8%;
  }

  #graph-para {
    height: 230px;
  }

  .contribution-text-left {
    width: 130px;
    position: relative;
    font-size: 20px;
  
  }

  .contribution-text-right {
    width: 130px;
    right: 15px;
    position: relative;
    font-size: 20px;

  }

  .site-container {
    top: 20px;
    right: -11%;
  }


  .graph-container {

    height: 1280px;

  }

  .site-container-tablet {
    top: 111px;
    right: -10%;
    
  }

  .site-container-mobile {
    top: 125px;
    right: -20%;
    
  }

  .runner-calc-text {
    height: 300px;
    top: 100px;

  }

  #runner-calc-container {
    height: 1050px;

  }

  #projects {
    height: 1650px;
  }

  .block-para {
    right: 80px;
    padding-left: 20px;
    width: 250px;
  }

  .block-name-dark {
    left: 10px;

  }

  .block-name-tm {
    left: -10px;
  }


  .svg-container {
    right: 435px;
    min-width: 400px;
    position: relative;
  }

  .graph-circle {
    left: 94px;
  }

  .pie-tooltip {
    left: 223px;  
  }

  .month-labels {
    left: 31px;
  }

  $lineMap: (
    1: (190, 640),
    2: (290, 200),
    3: (75, 265),
  );

  $lineTitleMap: (
    1: (50, 150),
    2: (265, 80),
    3: (165, 830),
  );

  $repoTooltipMap: (
    1: (50, 360),
    2: (90, 240),
    3: (230, 590),
    4: (270, 210),
    5: (40, 390),
    6: (40, 420),
  );

  @each $num, $values in $lineMap {

    .line:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 155 + px;
      width: 140px;
    }
  }

  .line:nth-child(1) {
    left: 445px;
  }

  @each $num, $values in $lineTitleMap {

    .line-title:nth-child(#{$num}) {
      width: 100px;
      top: nth($values, 1) + px;
      left: nth($values, 2) - 100 + px;
    }

  }

  .line-title:nth-child(3) {
    left: 515px;
  }


  @each $day, $values in $dayMap {

    ##{$day} {
      left: nth($values, 1) - 276;  
      top: nth($values, 2) - 2;
    }
  }

  @each $num, $values in $repoTooltipMap {

    .repoTooltip:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 180px;
    }
  }
}

@media (min-width:0px) and (max-width:599px) {

  #greeting-section {
    width: 600px;
  }

  .main-container {
    overflow: hidden;
    margin-left: 2%;
    margin-right:auto;
    margin-left:auto;
  }

  .container {
    left: 10px;
  }

  .sphere-container {
    left: 100px;

  }

  .sphere-shadow {
    margin: 15px;
    right: 80px;

  }

  .block-container {
    width: 600px;
    margin-right:auto;
    margin-left:auto;
  }

  #tools {
    height: 3350px;
  }

  .projects-block-title {

    top: 5px;

  }

  .title-text {
    width: 350px;
    right: 95px;
  }

  .block-name-def {
    right: 0px;
    left: 17px;
  }

  .block-name-def-cscript {
    left: 6px;
  }

  .block-name-def-sass {
    left: 33px;
  }

  .graph-description {
    height: 560px;
  }

  #github {
    height: 1230px;
  }

  .frameworks {
    left: 5%;

    & > :nth-child(1), :nth-child(3), :nth-child(5) {
      margin-right: -170px; 
    }
  }

  .dev-tools {
    left: 0.5%;

    & > :nth-child(1), :nth-child(3), :nth-child(5) {

      margin-right: -230px; 
    }
  }

  .preprocessors {
    left: 8%;
  }

  #graph-para {
    height: 230px;
  }

  .contribution-text-left {
    width: 130px;
    position: relative;
    font-size: 20px;
  
  }

  .contribution-text-right {
    width: 130px;
    right: 15px;
    position: relative;
    font-size: 20px;

  }

  .site-container {
    top: 20px;
    right: -11%;
  }


  .graph-container {

    height: 1280px;

  }

  .site-container-tablet {
    top: 111px;
    right: -10%;
    
  }

  .site-container-mobile {
    top: 125px;
    right: -20%;
    
  }

  .runner-calc-text {
    height: 300px;
    top: 100px;

  }

  #runner-calc-container {
    height: 1050px;

  }

  #projects {
    height: 1650px;
  }

  .block-para {
    right: 80px;
    padding-left: 20px;
    width: 250px;
  }

  .block-name-dark {
    left: 10px;

  }

  .block-name-tm {
    left: -10px;
  }


  .svg-container {
    right: 435px;
    min-width: 400px;
    position: relative;
  }

  .graph-circle {
    left: 94px;
  }

  .pie-tooltip {
    left: 223px;  
  }

  .month-labels {
    left: 31px;
  }

  $lineMap: (
    1: (190, 640),
    2: (290, 200),
    3: (75, 265),
  );

  $lineTitleMap: (
    1: (50, 150),
    2: (265, 80),
    3: (165, 830),
  );

  $repoTooltipMap: (
    1: (50, 360),
    2: (90, 240),
    3: (230, 590),
    4: (270, 210),
    5: (40, 390),
    6: (40, 420),
  );

  @each $num, $values in $lineMap {

    .line:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 155 + px;
      width: 140px;
    }
  }

  .line:nth-child(1) {
    left: 445px;
  }

  @each $num, $values in $lineTitleMap {

    .line-title:nth-child(#{$num}) {
      width: 100px;
      top: nth($values, 1) + px;
      left: nth($values, 2) - 100 + px;
    }

  }

  .line-title:nth-child(3) {
    left: 515px;
  }


  @each $day, $values in $dayMap {

    ##{$day} {
      left: nth($values, 1) - 276;  
      top: nth($values, 2) - 2;
    }
  }

  @each $num, $values in $repoTooltipMap {

    .repoTooltip:nth-child(#{$num}) {
      top: nth($values, 1) + px;
      left: nth($values, 2) - 180px;
    }
  }

}