<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    
    <!-- endbuild -->
  </head>
  <body ng-app="resumeApp" class="main-body">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-main" ng-class="{true: 'navbar-main', false: 'navbar-main-float'}[navText]"  scroll-change-hash scroll-change>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-btn-clean" ng-class="{home: 'nav-btn-dirty', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
            <a id="home" nav-scroll class="navbar-text navbar-brand">Tucker Tatum</a>
          </div>
        </div>

      

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav">
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-dirty', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="projects" nav-scroll class="navbar-text" >Work</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-dirty', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="github" nav-scroll class="navbar-text" >Development</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-dirty', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="tools" nav-scroll class="navbar-text" >Tools</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-dirty'}[navSpan]" ng-model="navSpan">
                <a id="contact" nav-scroll class="navbar-text" >Contact</a>
              </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <section id="mainControlSection" style="pointer-events:all;" ng-controller="CanvasCtrl as canvas">
      <div id="greeting-section" class="container">
        <canvas id="canvas"></canvas>
        <div>
          <span class="gold-text">Click and hold to paint!</span>
          <div class="name-text row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Tucker Tatum</span>
          </div>
          <div class="name-text row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>FRONT END WEB DEVELOPER</span>
          </div>
          <div class="name-text row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="greeting-para col-lg-4 col-md-4 col-sm-4 col-xs-4">&nbsp; &nbsp; &nbsp; &nbsp; </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
          </div>
        </div>
      </div>
    </section>
    <div id="background" ng-controller="CanvasCtrl as canvas">
      <div class="padding" ng-repeat="pads in [0, 1, 2, 3, 4, 5, 6, 7] track by $index">
        <div class="decoration">
          <canvas ng-attr-id="{{'canvasPad' + $index}}" style="height:100%;width:100%;"></canvas>
        </div>
      </div>
    </div>
    
    <div class="main-container">
      <div class="index" ng-controller="BlockCtrl as block">
        <section id="projects-section" class="projects-container">
          <div class="projects-title-section">
              <div class="block-title-section-text">My projects</div>
          </div>
          <div id="runner-calc-container" class="seperator skills-container">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                  <div class="projects-block-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="title-text">Runner Calculator</div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
              </div>
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                  <div class="site-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div id="runner-calc-desktop"></div>
                      <p class="site-container-txt">Large</p>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                  <div class="site-container-tablet col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div id="runner-calc-tablet"></div>
                      <p class="site-container-txt-tablet">Medium</p>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                  <div class="site-container-mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div id="runner-calc-mobile"></div>
                      <p class="site-container-txt-mobile">Small</p>
                  </div>
              </div>
              <div class="runner-calc-text tools-desc-container"> 
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; I recently started using Sass and have found it a great tool that makes CSS a ton less tedious and repetitive and a lot more like a Turing-complete programming language. CoffeeScript's syntax is a lot of fun to program in and has cut down significantly on my number of lines of code in some of my projects. I love these tools but am also paradoxically swayed by the argument that the more external libraries I use the greater the chance my app will be dependent upon deprecated libraries in the future. For that reason I don't always compile my code from these languages.</p>
              </div>
          </div>
          <div class="seperator skills-container">
              <div class="row">
                  
                  <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="title-text">Projects I've contributed to</div>
                  </div>
              </div>
              <div class="row preprocessors">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                  <main-block info="darkreader"></main-block>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <main-block info="tmtheme"></main-block>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              </div>
          </div> 
        </section>
        <section id="github-section" class="projects-container">
          <div class="projects-title-section">
            <div class="block-title-section-text">Clean, modular, &amp; scalable code</div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="html"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; Angular directives and Bootstrap classes make HTML capable of some very powerful &amp; expressive logic that I take advantage of every day in my development process. With Angular, I can keep a lot of the DOM logic inside of the HTML as opposed to hidden in the controllers somewhere, which results in code that is quick &amp; easy to debug and understand. I also follow <a href="https://google.github.io/styleguide/htmlcssguide.xml">Google's HTML style guide</a> for purposes of effiency and to be consistent with Google's search engine algorithms. I use useful &amp; descriptive tag names for my elements instead of just using 'div' for everything as well as commenting parts of my code that may be of interest.</p>
              </div>
            </div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="javascript"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; Writing JavaScript is easily the largest part of my development process and probably the most important. I put a great deal of effort into finding an efficient, succinct, and easily understandable way of expressing my code. I also cut every bite of text and millisecond of loading time I can so users can have as smooth and coherent of an experience as possible. I compile &amp; minify all of my code before launch for efficiency. I also follow <a href="https://google.github.io/styleguide/javascriptguide.xml">Google's JavaScript style guide</a> and <a href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md">John Papa's Angular style guide</a> and comment all of my code so that it can be clean &amp; readable to other developers. I research potential security risks and code around them, such as disallowing special characters in forms to avoid script injection.</p>
              </div>
            </div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="css"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; I recently started using Sass and have found it a great tool that makes CSS a ton less tedious and repetitive and a lot more like a Turing-complete programming language. CoffeeScript's syntax is a lot of fun to program in and has cut down significantly on my number of lines of code in some of my projects. I love these tools but am also paradoxically swayed by the argument that the more external libraries I use the greater the chance my app will be dependent upon deprecated libraries in the future. For that reason I don't always compile my code from these languages.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="graph-container" ng-controller="GraphCtrl as graph">
          <div class="loadingScreen fadable" ng-hide="loading == false" ng-model="loading">
            <div class="loading"></div>
            </div>
            <div class="projects-title-section">
              <div class="block-title-section-text">My live Github activity</div>
            </div>
            
            <div class="d3-container">
                <div class="animation-container">
                    <div class="month-labels">
                        <div id="{{dataObj.months[month]}}" ng-repeat="month in months track by $index">{{dataObj.months[month]}}</div>
                    </div>
                    <div class="day-labels">
                        <div id="{{dataObj.days[graphDays]}}" ng-repeat="graphDays in days track by $index">{{dataObj.days[graphDays]}}</div>
                    </div>
                    <div>
                        <div class="line" ng-repeat="lines in [0, 1, 2] track by $index"></div>
                    </div>
                    <div>
                        <div class="line-title">
                            <div class="tooltipText">Weeks</div>
                            <div>Hover over the chart ring for more info</div>
                        </div>
                        <div class="line-title">
                            <div class="tooltipText">Repositories</div>
                            <div>Hover over the chart ring for more info</div>
                        </div>
                        <div class="line-title">
                            <div class="tooltipText">Days</div>
                            <div>Hover over the chart ring for more info</div>
                        </div>
                    </div>
                    <div>
                        <div class="repoTooltip" ng-repeat="repo in repos track by $index">
                            <p class="repo-name">{{dataObj.repositories.names[repo]}}</p>
                            <p> {{dataObj.repositories.commits[repo]}} commits</p>
                            <p>Click to view on Github</p>
                        </div>
                    </div>
                    <div>
                        <div class="pie-tooltip-hover" ng-repeat="week in weeks track by $index">
                            <p class="day-tooltip-title">Week {{week + 1}}</p>
                            <p class="day-tooltip-label"> &nbsp; &nbsp; Day &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Commits</p>
                            <div class="day-tooltip-container">
                                <p class="day-tooltip" ng-repeat="day in days track by $index"> {{dayNames[day]}} |<span>{{dataObj.commits.days[week][day]}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                        <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            <div class="block-center">
                                <span>Contributions</span>
                            </div>
                        </div>
                        <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            <div class="block-center">
                                <span>Repositories</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                        <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <p class="contribution-text-right">This week</p>
                            <p class="contribution-text-right">This year</p>
                            <p class="contribution-text-right">Current Streak</p>
                            <p class="contribution-text-right">Longest Streak</p>
                        </div>
                        <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <p class="contribution-text-left"><span>{{dataObj.commits.thisWeek}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.commits.thisYear}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.commits.currStreak}}</span> days</p>
                            <p class="contribution-text-left"><span>{{dataObj.commits.longestStreak}}</span> days</p>
                        </div>
                        <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.runnerCalc}}">Runner Calc</a></p>
                            <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.sips}}">Sips</a></p>
                            <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.resumeSite}}">Resume</a></p>
                            <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.darkReader}}">Dark Reader</a></p>
                            <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.tmTheme}}">TmTheme</a></p>
                        </div>
                        <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <p class="contribution-text-left"><span>{{dataObj.repositories.runnerCalc}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.repositories.sips}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.repositories.resumeSite}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.repositories.darkReader}}</span> commits</p>
                            <p class="contribution-text-left"><span>{{dataObj.repositories.tmTheme}}</span> commit</p>
                        </div>
                        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                    </div>
                    <div id="graph-para" class="row tools-desc-container">
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; I've been pushing my code to Github every day for almost a year in order to make all of my development activity public. The graph above visually displays some of that information using D3.js and is populated upon refresh with live data requested from the Github API. You can hover over the outer week ring to reveal the daily data for that week, and over the inner pie chart to see information about my specific repositories. </p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; </p>
                    </div>   
                </div>
            </div>
        </section>
        <section id="tools-section" class="block-container">
          <div class="projects-title-section">
              <div class="block-title-section-text">Tools I use</div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Frameworks</div>
                    </div>
                </div>
                <div class="row frameworks">
                    <main-block info="angular"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="jQuery"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="bootstrap"></main-block>
                </div>
                <div id="frameworks" class="tools-desc-container">
                    <p >&nbsp; &nbsp; &nbsp; &nbsp; I use Angular.js and JQuery as my javascript frameworks of choice, although I mostly use jQuery in the form of jqLite, which is compact version of it built into Angular. I started using jQuery soon after I began learning web development and a couple months after that I began using Angular to replace much of the functionality of jQuery in my code. Angular's data binding, services, directives, and single-page application capabilities gave me a lot more power as a new developer than I otherwise would have with jQuery or plain JS.</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; I also use Bootstrap for its easy table layouts and occasionally for its built-in classes, but I usually tend to write my own CSS classes in lieu of the ones it offers.</p>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Development Tools</div>
                    </div>
                </div>
                <div class="row dev-tools">
                    <main-block info="git"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                    <main-block info="yeoman"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                    <main-block info="grunt"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                    <main-block info="bower"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                </div>
                <div id="dev-tools" class="tools-desc-container">
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; With its popularity and synchronization with Github, as well as fact that I develop on GNU/Linux, Git was an easy choice as my version control system. Yeoman was one of the tools that taught me the most about web development because it sets up the basic structure of the app directory and many of the files that are needed to make the app, including files that new developers might not even know about. Yeoman also introduced me to Grunt and Bower, which are very powerful time and bite savers. Grunt's workflow automation greatly sped up my development time and enabled me to use a bunch of useful Grunt tasks like autoprefixer and JSHint as well as preprocessors such as Sass and CoffeeScript with ease.</p>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Design Tools</div>
                    </div>
                </div>
                <div class="row frameworks">
                    <main-block info="gimp"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="balsamiq"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="d3"></main-block>
                </div>
                <div id="design-tools" class="tools-desc-container">
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; I use Gimp for the majority of my image editing needs, but for my design workflow I also use Balsamiq. My workflow begins with brainstorming rough Balsamiq mockups until I get a basic idea of what the layout of the project will be. I then recreate it in Gimp and start playing around with the specifics of the design, such as the colors, text, shadows, etc. I then do a final recreation of the layout in the browser and make any minor adjustments needed. I like to do the majority of my designing outside of the browser so that the limitations of HTML/CSS don't dictate the outcome of the design too much.</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; I use D3 for data visualization such as the circular Github graph in the section above. It's a great tool and does some tricks that are normally difficult to do with just CSS/JS.</p>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Preprocessors</div>
                    </div>
                </div>
                <div class="row preprocessors">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="sass"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3"></div>
                    <main-block info="cscript"></main-block>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
                </div>
                <div id="preprocessors" class="tools-desc-container">
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; I recently started using Sass and have found it a great tool that makes CSS a ton less tedious and repetitive and a lot more like a Turing-complete programming language. CoffeeScript's syntax is a lot of fun to program in and has cut down significantly on my number of lines of code in some of my projects. I love these tools but am also paradoxically swayed by the argument that the more external libraries I use the greater the chance my app will be dependent upon deprecated libraries in the future. For that reason I don't always compile my code from these languages.</p>
                </div>
            </div>
          </div> 
        </section>
        <section id="contact-section" class="projects-container" >
          <div class="projects-title-section">
            <div class="block-title-section-text">Contact me</div>
          </div>
          <div class="block-group">
            <div class="contact-type-container">
              <div class="skills-container">
                <div class="row frameworks">
                    <main-block info="email"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="linkedin"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="githubsocial"></main-block>
                </div>
              </div>
            </div>
          </div>
        </section>





      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/block-ctrl.js"></script>
        <script src="scripts/controllers/graph-ctrl.js"></script>
        <script src="scripts/controllers/canvas-ctrl.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/factories/factories.js"></script>
        <!-- endbuild -->
</body>
</html>
