<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tucker Tatum | Front End Web Developer</title>
    <meta name="description" content="I'm a front end web developer with a passion for creating beautiful and useful applications.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="resumeApp" class="main-body">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-main" ng-class="{true: 'navbar-main', false: 'navbar-main-float'}[navText]"  scroll-change-hash scroll-change>
      <div class="container">

        <div class="navbar-header">
          <div id="home-cont" class="nav-btn-clean" ng-class="{home: 'nav-btn-dirty', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
            <a id="home" nav-scroll class="navbar-text navbar-brand">Tucker Tatum</a>
          </div>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav">
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-dirty', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="github" nav-scroll class="navbar-text" >Development</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-dirty', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="projects" nav-scroll class="navbar-text" >Work</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-dirty', contact: 'nav-btn-clean'}[navSpan]" ng-model="navSpan">
                <a id="tools" nav-scroll class="navbar-text" >Tools</a>
              </div>
            </li>
            <li>
              <div class="nav-btn-clean" ng-class="{home: 'nav-btn-clean', projects: 'nav-btn-clean', github: 'nav-btn-clean', tools: 'nav-btn-clean', contact: 'nav-btn-dirty'}[navSpan]" ng-model="navSpan">
                <a id="contact" nav-scroll class="navbar-text" >Contact</a>
              </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div id="top-background" parallax></div>
    <div id="greeting-section" class="container">
      <div>
        <span></span>
        <div class="name-text row">
          <h1>Hi, I'm Tucker Tatum</h1>
        </div>
        <div class="name-text row">
          <h2>FRONT END WEB DEVELOPER</h2>
        </div>
        <div class="name-text row">
          <div class="greeting-para">
            <div><h4>I'm a front end web developer with a passion for creating beautiful and useful applications. My love of creative work and learning, ability to solve real world problems, and dedication to work hard until the job is done make me a great asset to any team.     
            </h4></div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <div id="background">
        <div class="buffer"></div>
      </div>
    </div>
    
    <div class="main-container">
      <div class="index" ng-controller="BlockCtrl as block">

        <section id="github-section" class="block-container">
          <div class="projects-title-section">
            <h2 class="block-title-section-text">Clean, modular, &amp; scalable code</h2>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="javascript"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&emsp; Writing JavaScript is definitely the largest part of my development process and probably the most important. I put a great deal of effort into finding an efficient, succinct, and easily understandable way of expressing my code. I cut every bite of text and millisecond of loading time I can so users can have as smooth and coherent of an experience as possible. I also compile &amp; minify all of my code before launch for efficiency. I follow <a href="https://google.github.io/styleguide/javascriptguide.xml">Google's JavaScript style guide</a> and <a href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md">John Papa's Angular style guide</a> for clean and standardized code, and I frequently write comments so that it can be as readable as possible. I also research potential security risks and code around them, such as disallowing special characters in forms to avoid script injection.</p>
              </div>
            </div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="html"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&emsp; I follow <a href="https://google.github.io/styleguide/htmlcssguide.xml">Google's HTML style guide</a> in order to have clean and standards-compliant markup, and also to be consistent with Google's search engine algorithms. I use useful &amp; descriptive tag names for my elements as well as commenting parts of my code that may be of interest. Angular directives and Bootstrap classes make HTML capable of some very powerful &amp; expressive logic that I take advantage of every day in my development process. With Angular, I can keep a lot of the DOM logic inside of the HTML as opposed to hidden in the controllers somewhere, which results in code that is quick &amp; easy to debug and understand. </p>
              </div>
            </div>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
              <div class="row">
                  <main-block info="css"></main-block>
              </div>
              <div class="tools-desc-container">
                  <p>&emsp; My code follows Google standards for CSS development and I put a great deal of work into my CSS and SASS to make it as DRY as possible. I consistently order all of my CSS properties within their classes and group relevant classes and ID's together as much as possible for ease of editing and readability. My websites support the major browsers (Chrome, Firefox, IE9+, Safari, and Opera) and I try to make the user experience uniform across them as much as possible. I also include cross-browser prefixes for properties like 'filter' and 'box-shadow' to support the querks of those browsers. My websites are responsive and look great on all of the popular device sizes, including mobile, tablet, laptops and large desktops.</p>
              </div>
            </div>
          </div>
        </section>


        <section class="graph-container" ng-controller="GraphCtrl as graph">
          <div class="loadingScreen fadable" ng-hide="loading == false" ng-model="loading">
            <div class="loading"></div>
          </div>
          <div class="projects-title-section">
            <div class="block-title-section-text">My live Github activity</div>
          </div>
          <div class="d3-container">
            <div class="animation-container">
              <div class="month-labels">
                <div id="{{dataObj.months[month]}}" ng-repeat="month in months track by $index">{{dataObj.months[month]}}</div>
              </div>
              <div class="day-labels">
                <div id="{{dataObj.days[graphDays]}}" ng-repeat="graphDays in days track by $index">{{dataObj.days[graphDays]}}</div>
              </div>
              <div>
                <div class="line" ng-repeat="lines in [0, 1, 2] track by $index"></div>
              </div>
              <div>
                  <div class="line-title">
                    <div class="tooltipText">Weeks</div>
                    <div>Each segment represents one week</div>
                  </div>
                  
                  <div class="line-title">
                    <div class="tooltipText">Days</div>
                    <div>Each segment represents one day</div>
                  </div>
                  <div class="line-title">
                    <div class="tooltipText">Repositories</div>
                    <div>Pie chart sized by repository contribution</div>
                  </div>
              </div>
              <div>
                  <div class="repoTooltip" ng-repeat="repo in repos track by $index">
                    <p class="repo-name">{{dataObj.repositories.names[repo]}}</p>
                    <p> {{dataObj.repositories.commits[repo]}} commits</p>
                    <p>Click to view on Github</p>
                  </div>
              </div>
              <div>
                  <div class="pie-tooltip-hover" ng-repeat="week in weeks track by $index">
                    <p class="day-tooltip-title">Week {{week + 1}}</p>
                    <p class="day-tooltip-label"> &nbsp; &nbsp; Day &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Commits</p>
                    <div class="day-tooltip-container">
                      <p class="day-tooltip" ng-repeat="day in days track by $index"> {{dayNames[day]}} |<span>{{dataObj.commits.days[week][day]}}</span></p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="graph-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                  <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <div class="block-center">
                        <span>Contributions</span>
                      </div>
                  </div>
                  <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-12">
                      <div class="block-center">
                        <span>Repositories</span>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
              </div>
              <div class="row">
                  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                  <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-6">
                    <p class="contribution-text-right">This week</p>
                    <p class="contribution-text-right">This year</p>
                    <p class="contribution-text-right">Current Streak</p>
                    <p class="contribution-text-right">Longest Streak</p>
                  </div>
                  <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-6">
                    <p class="contribution-text-left"><span>{{dataObj.commits.thisWeek}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.thisYear}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.currStreak}}</span> days</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.longestStreak}}</span> days</p>
                  </div>
                  <div class="contribution-info text-bot col-lg-2 col-md-3 col-sm-3 col-xs-6">
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.runnerCalc}}">Runner Calc</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.resumeSite}}">Resume</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.sips}}">Sips</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.darkReader}}">Dark Reader</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.tmTheme}}">TmTheme</a></p>
                  </div>
                  <div class="contribution-info text-bot col-lg-2 col-md-3 col-sm-3 col-xs-6">
                    <p class="contribution-text-left"><span>{{dataObj.repositories.runnerCalc}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.resumeSite}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.sips}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.darkReader}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.tmTheme}}</span> commit</p>
                  </div>
                  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
              </div>
              <div id="graph-para" class="row tools-desc-container">
                  <p> &emsp; I've been pushing my code to Github every day for almost a year in order to make all of my development activity public. The graph above visually displays some of that information using D3.js and is populated upon refresh with live data requested from the Github API. You can hover over the outer week ring to reveal the daily data for that week, and over the inner pie chart to see information about my specific repositories. </p>
              </div>   
            </div>
          </div>
        </section>





        <section id="projects-section" class="block-container">
          <div class="projects-title-section">
              <h2 class="block-title-section-text">My projects</h2>
          </div>
          <div id="runner-calc-container" class="seperator skills-container">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                  <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="title-text">RunnerCalculator.com</div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
              </div>
              <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                  <div class="site-container col-lg-2 col-md-2 col-sm-2 col-xs-0">
                      <a href="http://www.runnercalculator.com" id="runner-calc-desktop"></a>
                      <p class="site-container-txt">Large</p>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                  <div class="site-container-tablet col-lg-2 col-md-2 col-sm-2 col-xs-0">
                      <a href="http://www.runnercalculator.com" id="runner-calc-tablet"></a>
                      <p class="site-container-txt-tablet">Medium</p>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                  <div class="site-container-mobile col-lg-2 col-md-2 col-sm-2 col-xs-0">
                      <a href="http://www.runnercalculator.com" id="runner-calc-mobile"></a>
                      <p class="site-container-txt-mobile">Small</p>
                  </div>
              </div>
              <div class="runner-calc-text tools-desc-container"> 
                  <p> &emsp; RunnerCalculator.com is my main project that I've been developing for almost a year now. It's a web app built with modern technology that allows runners to easily calculate a few useful numbers associated with running. I built the application myself from the ground up and I used the project to learn more about the web development process. It looks and works great on all devices and major browsers, and is made to be scalable, clean, fast, and easy to use on the run. </p>
              </div>
          </div>
          <div class="seperator skills-container">
              <div class="row">
                  
                  <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="title-text">Projects I've contributed to</div>
                  </div>
              </div>
              <div class="row preprocessors">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                  <main-block info="darkreader"></main-block>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <main-block info="tmtheme"></main-block>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              </div>
          </div> 
        </section>
        




        <section id="tools-section" class="block-container">
          <div class="projects-title-section">
              <h2 class="block-title-section-text">Tools I use</h2>
          </div>
          <div class="block-group"> 
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Frameworks</div>
                    </div>
                </div>
                <div class="row frameworks">
                    <main-block info="angular"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="jQuery"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="bootstrap"></main-block>
                </div>
                <div id="frameworks" class="tools-desc-container">
                  <p>
                    &emsp; For the past few years I've learned JQuery and Angular.js to supplement plain JavaScript in my web applications. The use of the MVC/MVVM structure of Angular one and two-way data-binding has sped up my development process and given me a lot more power as a newer developer than I otherwise would have with plain JavaScript. But I've made sure not to forget how to write code without the help of frameworks that might be deprecated one day. I've learned asynchronous programming with AJAX and $http and use it frequently in my code, and even on this website in the Github graph above.
                  </p>

                  <p> &emsp; I also use Bootstrap for its easy table layouts and occasionally for its built-in classes, but I usually tend to write my own CSS classes in lieu of the ones it offers. I prefer explicit programming as opposed to implicit, and Bootstrap has a lot of implicit things going on under the hood.
                  </p>

                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Development Tools</div>
                    </div>
                </div>
                <div class="row dev-tools">
                    <main-block info="git"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <main-block info="yeoman"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <main-block info="grunt"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                    <main-block info="bower"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                </div>
                <div id="dev-tools" class="tools-desc-container">
                    <p> &emsp; I always use Git and post meaningful and useful commits publicly on Github every day. Because of the loss security it offers, version control has been invaluable to me and saved me so many headaches throughout my development history. I use Grunt to build my release application by minifiying, concatinating, and otherwise saving as much time and bites as possible. Grunt's workflow automation greatly sped up my development time and enabled me to task run a bunch of programs like autoprefixer and JSHint as well as preprocessors such as Sass and CoffeeScript with ease. I use Bower package management to easily install dependencies and keep them up to date. </p>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Design Tools</div>
                    </div>
                </div>
                <div class="row frameworks">
                    <main-block info="gimp"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="balsamiq"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="d3"></main-block>
                </div>
                <div id="design-tools" class="tools-desc-container">
                    <p> &emsp;I use Gimp for the majority of my image editing needs, but for my design workflow I also use Balsamiq. My workflow begins with brainstorming rough Balsamiq mockups until I get a basic idea of what the layout of the project will be. I then recreate it in Gimp and start playing around with the specifics of the design, such as the colors, text, shadows, etc. I then do a final recreation of the layout in the browser and make any minor adjustments needed. I like to do the majority of my designing outside of the browser so that the limitations of HTML/CSS don't dictate the outcome of the design too much.</p>
                    <p> I use D3 for data visualization such as the circular Github graph in the section above. It's a great tool and does some tricks that are normally difficult to do with just CSS/JS.</p>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="skills-container">
                <div class="row">
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Preprocessors</div>
                    </div>
                </div>
                <div class="row preprocessors">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="sass"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3"></div>
                    <main-block info="cscript"></main-block>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
                </div>
                <div id="preprocessors" class="tools-desc-container">
                    <p> &emsp; I used SASS to make this website and normal CSS to make RunnerCalculator.com, so I am familliar with developing with either. However, I prefer SASS because the logical tools it offers are much more powerful than CSS and have made my code much more DRY than it otherwise would have been. I've also spent some time programming with CoffeeScript and TypeScript and plan to use the latter on future applications that I make. I love these tools but am also paradoxically swayed by the argument that the more external libraries I use the greater the chance my app will be dependent upon deprecated libraries in the future. For that reason I don't always compile my code from these languages.</p>
                </div>
            </div>
          </div> 
        </section>
        <section id="contact-section" class="contacts-container" >
          <div class="projects-title-section">
            <h2 class="block-title-section-text">Contact me</h2>
          </div>
          <div class="block-group">
            <div class="contact-type-container">
              <div class="skills-container">
                <div class="row frameworks">
                    <main-block info="email"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="linkedin"></main-block>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                    <main-block info="githubsocial"></main-block>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-touch.min.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!--

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/block-ctrl.js"></script>
    <script src="scripts/controllers/graph-ctrl.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/factories/factories.js"></script>
    <!-- endbuild -->

</body>
</html>
