<section id="contact" class="contacts-container" >
  <div class="projects-title-section">
    <div class="block-title-section-text">Contact me</div>
  </div>
  <div class="block-group">
    <div class="contact-type-container">
        <div class="row frameworks">
            <main-block info="gmail"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
            <main-block info="linkedin"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
            <main-block info="githubsocial"></main-block>
        </div>
    </div>
  </div>
</section>
