<section id="github" class="graph-container">
  <div class="loadingScreen fadable" ng-hide="loading == false" ng-model="loading">
    <div class="loading"></div>
    </div>
    <div class="projects-title-section">
        <div class="block-title-section-text">My live Github activity</div>
    </div>
    <div class="d3-container">
        <div class="animation-container">
            <div class="month-labels">
                <div id="{{dataObj.months[month]}}" ng-repeat="month in months track by $index">{{dataObj.months[month]}}</div>
            </div>
            <div class="day-labels">
                <div id="{{dataObj.days[graphDays]}}" ng-repeat="graphDays in days track by $index">{{dataObj.days[graphDays]}}</div>
            </div>
            <div>
                <div class="line" ng-repeat="lines in [0, 1, 2] track by $index"></div>
            </div>
            <div>
                <div class="line-title">
                    <p class="tooltipText">Weeks</p>
                </div>
                <div class="line-title">
                    <p class="tooltipText">Repositories</p>
                </div>
                <div class="line-title">
                    <p class="tooltipText">Days</p>
                </div>
            </div>
            <div>
                <div class="repoTooltip" ng-repeat="repo in repos track by $index">
                    <p class="repo-name">{{dataObj.repositories.names[repo]}}</p>
                    <p> {{dataObj.repositories.commits[repo]}} commits</p>
                    <p>Click to view on Github</p>
                </div>
            </div>
            <div>
                <div class="pie-tooltip-hover" ng-repeat="week in weeks track by $index">
                    <p class="day-tooltip-title">Week {{week + 1}}</p>
                    <p class="day-tooltip-label"> &nbsp; &nbsp; Day &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Commits</p>
                    <div class="day-tooltip-container">
                        <p class="day-tooltip" ng-repeat="day in days track by $index"> {{dayNames[day]}} |<span>{{dataObj.commits.days[week][day]}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="graph-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <span>Contributions</span>
                    </div>
                </div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <span>Repositories</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>
            <div class="row contribution-container">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right">This week</p>
                    <p class="contribution-text-right">This year</p>
                    <p class="contribution-text-right">Current Streak</p>
                    <p class="contribution-text-right">Longest Streak</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left"><span>{{dataObj.commits.thisWeek}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.thisYear}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.currStreak}}</span> days</p>
                    <p class="contribution-text-left"><span>{{dataObj.commits.longestStreak}}</span> days</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.runnerCalc}}">Runner Calc</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.sips}}">Sips</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.resumeSite}}">Resume</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.darkReader}}">Dark Reader</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.tmTheme}}">TmTheme</a></p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left"><span>{{dataObj.repositories.runnerCalc}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.sips}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.resumeSite}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.darkReader}}</span> commits</p>
                    <p class="contribution-text-left"><span>{{dataObj.repositories.tmTheme}}</span> commit</p>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>
            <div id="graph-para" class="row tools-desc-container">
                <p>&nbsp; &nbsp; &nbsp; &nbsp; I've been pushing my code to Github every day for almost a year in order to make all of my development activity public. The graph above visually displays some of that information using D3.js and is populated upon refresh with live data requested from the Github API. You can hover over the outer week ring to reveal the daily data for that week, and over the inner pie chart to see information about my specific repositories. </p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; </p>
            </div>   
        </div>
    </div>
</section>
