<div class="projects-container">
    <div class="projects-title-section">
        <div class="block-title-section-text">My projects</div>
    </div>
    <div class="seperator project-site-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="projects-block-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Runner Calculator</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-desktop"></div>
                <p class="site-container-txt">Large</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container-tablet col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-tablet"></div>
                <p class="site-container-txt-tablet">Medium</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container-mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-mobile"></div>
                <p class="site-container-txt-mobile">Small</p>
            </div>
        </div>
        <div class="project-desc-container"> 
            <p class="gold-text">  dbchjebdehjbjhebdjhedbjehbjh

            </p>
        </div>
    </div>
    <div class="seperator skills-container">
        <div class="row">
            
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Projects I've contributed to</div>
            </div>
        </div>
        <div class="row preprocessors">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="darkreader"></main-block>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <main-block info="tmtheme"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>
<div class="graph-container">
    <div class="graph-title-section">
        <div class="block-title-section-text">My live Github activity</div>
    </div>
    <div class="d3-container">
        <div class="animation-container">
            <div class="month-labels">
                <div id="january">Jan</div>
                <div id="february">Feb</div>
                <div id="march">Mar</div>
                <div id="april">Apr</div>
                <div id="may">May</div>
                <div id="june">Jun</div>
                <div id="july">Jul</div>
                <div id="august">Aug</div>
                <div id="september">Sep</div>
                <div id="october">Oct</div>
                <div id="november">Nov</div>
                <div id="december">Dec</div>
            </div>
            <div class="day-labels">
                 <div id="sunday">Su</div>
                 <div id="monday">M</div>
                 <div id="tuesday">Tu</div>
                 <div id="wednesday">W</div>
                 <div id="thursday">Th</div>
                 <div id="friday">F</div>
                 <div id="saturday">Sa</div>  
            </div>
        </div>
        <div class="graph-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <soan>Contributions</span>
                    </div>
                </div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <span>Repositories</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>
            <div class="row contribution-container">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right">This week</p>
                    <p class="contribution-text-right">This year</p>
                    <p class="contribution-text-right">Current Streak</p>
                    <p class="contribution-text-right">Longest Streak</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left">{{dataObj.commits.thisWeek}} commits</p>
                    <p class="contribution-text-left">{{dataObj.commits.thisYear}} commits</p>
                    <p class="contribution-text-left">{{dataObj.commits.currStreak}} days</p>
                    <p class="contribution-text-left">{{dataObj.commits.longestStreak}} days</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.runnerCalc}}">Runner Calc</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.sips}}">Sips</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.resumeSite}}">Resume</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.darkReader}}">Dark Reader</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.tmTheme}}">TmTheme</a></p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left">{{dataObj.repositories.runnerCalc}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.sips}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.resumeSite}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.darkReader}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.tmTheme}} commit</p>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>   
        </div>
    </div>
</div>

<div class="block-container">
    <div class="block-title-section">
        <div class="block-title-section-text">Tools I use</div>
    </div>
  <div class="block-group">
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Frameworks</div>
            </div>
        </div>
        <div class="row frameworks">
            <main-block info="angular"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="jQuery"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="bootstrap"></main-block>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Development Tools</div>
            </div>
        </div>
        <div class="row dev-tools">
            <main-block info="git"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="yeoman"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="grunt"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="bower"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Design Tools</div>
            </div>
        </div>
        <div class="row frameworks">
            <main-block info="gimp"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="balsamiq"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="d3"></main-block>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Preprocessors</div>
            </div>
        </div>
        <div class="row preprocessors">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="sass"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="cscript"></main-block>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>
  </div>
</div>

