<div class="animation-container">
  <div class="commit-circle">
    <div class="repository">
    </div>
  </div>
</div>

<div class="block-container">
  <div class="block-group">
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/js.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/html5-3.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/css3-2.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/angular.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/jquery.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/bootstrap.png');"></div>

    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/git-3.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/yeoman-2.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/grunt.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/bower-logo.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/sass-3.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/coffeescript-2.png');"></div>

    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/photoshop.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/d3js.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/balsamiq.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/photoshop.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/d3js.png');"></div>
    <div class="main-blocks col-lg-3 col-md-3 col-sm-3 col-xs-3" style="background-image: url('/images/balsamiq.png');"></div>
  </div>


</div>

