<div id="projects" class="projects-container">
    <div class="projects-title-section">
        <div class="block-title-section-text">My projects</div>
    </div>
    <div class="seperator project-site-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="projects-block-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Runner Calculator</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-desktop"></div>
                <p class="site-container-txt">Large</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container-tablet col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-tablet"></div>
                <p class="site-container-txt-tablet">Medium</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="site-container-mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div id="runner-calc-mobile"></div>
                <p class="site-container-txt-mobile">Small</p>
            </div>
        </div>
        <div class="project-desc-container"> 
            <p class="gold-text">  dbchjebdehjbjhebdjhedbjehbjh

            </p>
        </div>
    </div>
    <div class="seperator skills-container" style="height: 400px;">
        <div class="row">
            
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Projects I've contributed to</div>
            </div>
        </div>
        <div class="row preprocessors">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="darkreader"></main-block>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <main-block info="tmtheme"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>
<div id="github" class="graph-container">
    <div class="loadingScreen">
        <div class="loading"></div>
    </div>
    <div class="graph-title-section">
        <div class="block-title-section-text">My live Github activity</div>
    </div>
    <div class="d3-container">

        <div class="animation-container">
            <div class="month-labels">
                <div id="january">Jan</div>
                <div id="february">Feb</div>
                <div id="march">Mar</div>
                <div id="april">Apr</div>
                <div id="may">May</div>
                <div id="june">Jun</div>
                <div id="july">Jul</div>
                <div id="august">Aug</div>
                <div id="september">Sep</div>
                <div id="october">Oct</div>
                <div id="november">Nov</div>
                <div id="december">Dec</div>
            </div>
            <div class="day-labels">
                 <div id="sunday">Su</div>
                 <div id="monday">M</div>
                 <div id="tuesday">Tu</div>
                 <div id="wednesday">W</div>
                 <div id="thursday">Th</div>
                 <div id="friday">F</div>
                 <div id="saturday">Sa</div>  
            </div>
        </div>
        <div class="graph-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <soan>Contributions</span>
                    </div>
                </div>
                <div class="graph-desc-section col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="block-center">
                        <span>Repositories</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>
            <div class="row contribution-container">
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right">This week</p>
                    <p class="contribution-text-right">This year</p>
                    <p class="contribution-text-right">Current Streak</p>
                    <p class="contribution-text-right">Longest Streak</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left">{{dataObj.commits.thisWeek}} commits</p>
                    <p class="contribution-text-left">{{dataObj.commits.thisYear}} commits</p>
                    <p class="contribution-text-left">{{dataObj.commits.currStreak}} days</p>
                    <p class="contribution-text-left">{{dataObj.commits.longestStreak}} days</p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.runnerCalc}}">Runner Calc</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.sips}}">Sips</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.resumeSite}}">Resume</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.darkReader}}">Dark Reader</a></p>
                    <p class="contribution-text-right"><a ng-href="{{dataObj.repositories.href.tmTheme}}">TmTheme</a></p>
                </div>
                <div class="contribution-info col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="contribution-text-left">{{dataObj.repositories.runnerCalc}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.sips}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.resumeSite}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.darkReader}} commits</p>
                    <p class="contribution-text-left">{{dataObj.repositories.tmTheme}} commit</p>
                </div>
                <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>
            </div>   
        </div>
    </div>
</div>

<div id="tools" class="block-container">
    <div class="block-title-section">
        <div class="block-title-section-text">Tools I use</div>
    </div>
  <div class="block-group">
    
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Frameworks</div>
            </div>
        </div>
        <div class="row frameworks">
            <main-block info="angular"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="jQuery"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="bootstrap"></main-block>
        </div>
        <div id="frameworks" class="tools-desc-container">
            <p >&nbsp; &nbsp; &nbsp; &nbsp; I use Angular.js as my javascript framework of choice. I also use a great deal of jQuery, but in the form of jqLite, which is a mini-jQuery built into Angular. I started using jQuery soon after I began learning web development and a couple months after that I began using Angular to replace much of the functionality of jQuery in my code. Angular's data binding, services, directives, and single-page application capabilities gave me a lot more power as a new developer than I otherwise would have with jQuery or plain JS.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; I also use Bootstrap for its easy table layouts and occasionally for its built-in classes, but I usually tend to write my own CSS classes in lieu of the ones it offers.</p>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Development Tools</div>
            </div>
        </div>
        <div class="row dev-tools">
            <main-block info="git"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="yeoman"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="grunt"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="bower"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div id="dev-tools" class="tools-desc-container">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; With its popularity and synchronization with Github, as well as fact that I develop on GNU/Linux, Git was an easy choice as my version control system. Yeoman was one of the tools that taught me the most about web development because it sets up the basic structure of the app directory and many of the files that are needed to make the app, including files that new developers might not even know about. Yeoman also introduced me to Grunt and Bower, which are very powerful time and bite savers. Grunt's workflow automation greatly sped up my development time and enabled me to use a bunch of useful Grunt tasks like autoprefixer and JSHint as well as preprocessors such as Sass and CoffeeScript with ease.</p>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Design Tools</div>
            </div>
        </div>
        <div class="row frameworks">
            <main-block info="gimp"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="balsamiq"></main-block>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="d3"></main-block>
        </div>
        <div id="design-tools" class="tools-desc-container">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; I use Gimp for the majority of my image editing needs, but for my design workflow I also use Balsamiq. My workflow begins with brainstorming rough Balsamiq mockups until I get a basic idea of what the layout of the project will be. I then recreate it in Gimp and start playing around with the specifics of the design, such as the colors, text, shadows, etc. I then do a final recreation of the layout in the browser and make any minor adjustments needed. I like to do the majority of my designing outside of the browser so that the limitations of HTML/CSS don't dictate the outcome of the design too much.</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; I use D3 for data visualization such as the circular Github graph in the section above. It's a great tool and does some tricks that are normally difficult to do with just CSS/JS.</p>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="skills-container">
        <div class="row">
            <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="title-text">Preprocessors</div>
            </div>
        </div>
        <div class="row preprocessors">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <main-block info="sass"></main-block>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <main-block info="cscript"></main-block>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <div id="preprocessors" class="tools-desc-container">
            <p>&nbsp; &nbsp; &nbsp; &nbsp; I recently started using Sass and have found it a great tool that makes CSS a ton less tedious and repetitive and a lot more like a Turing-complete programming language. CoffeeScript's syntax is a lot of fun to program in and has cut down significantly on my number of lines of code in some of my projects. I love these tools but am also paradoxically swayed by the argument that the more external libraries I use the greater the chance my app will be dependent upon deprecated libraries in the future. For that reason I don't always compile my code from these languages.</p>
        </div>
    </div>
  </div>
</div>

