<section id="projects" class="projects-container">
  <div class="projects-title-section">
                <div class="block-title-section-text">My projects</div>
            </div>
            <div id="runner-calc-container" class="seperator project-site-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="projects-block-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Runner Calculator</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="site-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div id="runner-calc-desktop"></div>
                        <p class="site-container-txt">Large</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="site-container-tablet col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div id="runner-calc-tablet"></div>
                        <p class="site-container-txt-tablet">Medium</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <div class="site-container-mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div id="runner-calc-mobile"></div>
                        <p class="site-container-txt-mobile">Small</p>
                    </div>
                </div>
                <div class="runner-calc-text project-desc-container"> 
                    <p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
                </div>
            </div>
            <div class="seperator skills-container" style="height: 350px;">
                <div class="row">
                    
                    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="title-text">Projects I've contributed to</div>
                    </div>
                </div>
                <div class="row preprocessors">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <main-block info="darkreader"></main-block>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                    <main-block info="tmtheme"></main-block>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                </div>
            </div> 
</section>