<div class="skills-container">
	<div class="row">
	    <div class="block-titles col-lg-4 col-md-4 col-sm-4 col-xs-4">
	        <div class="title-text">{{toolInfo.title}}</div>
	    </div>
	</div>
	<div class="row {{toolInfo.containerClass}}">
	    <main-block info="{{toolInfo.tool1}}"></main-block>
	    <div class="{{toolInfo.columnClass1}}"></div>
	    <main-block info="{{toolInfo.tool2}}"></main-block>
	    <div class="{{toolInfo.columnClass2}}"></div>
	    <main-block info="{{toolInfo.tool3}}"></main-block>
	    <div class="{{toolInfo.columnClass3}}"></div>
	    <main-block info="{{toolInfo.tool4}}"></main-block>
	    <div class="{{toolInfo.columnClass4}}"></div>
	</div>
	<div id="{{toolInfo.textId}}" class="tools-desc-container">
	    <p>&nbsp; &nbsp; &nbsp; &nbsp; {{toolInfo.paraText1}}</p>
	    <p>&nbsp; &nbsp; &nbsp; &nbsp; {{toolInfo.paraText2}}</p>
	</div>
</div> 
